doctype html
html(lang='en')

html
    head
        title SP Bookstore - Home
        
body
    div#main
        br
        br
        h1 SP Bookstore
        h2 ISBN: #{book.isbn} 
        p Bookname: #{book.name} 
        p Author(s): #{book.authors}
        p Publisher: #{book.pid}
        p Genre(s): #{book.genres}
        p Page Numbers: #{book.page_num}
        br
        br
        p Stock: #{book.stockquantity}
        p Price: #{book.price}
        a(href="/addCart/" + book.isbn) Add to Cart

