doctype html
html(lang='en')

html
    head
        title Look Inna Book - Home
        
body
    include ./partial.pug
    
    div#main
        br
        br
        h1 USER: #{user.uid}'s Cart
        p
        |  Billing: 
        input(type="text", name= "billing",id="billing", value=user.userbilling)
        |  Shipping: 
        input(type="text", name= "shipping",id="shipping", value=user.usershipping)
        
        br 
        br
        b#total Total: $#{cartTotal}
        br
        button(type="button" id="checkoutSubmit") Checkout

        br 
        br
        br
        br
        div#contents
            h2 Contents:
            each book in books
                ul
                <p> ISBN: #{book.isbn} "#{book.name}"| $#{book.price} In Stock: #{book.stockquantity} In Cart:#{book.cartquantity} <a href="/removeFromCart/#{book.isbn}"> Remove </a></p>

    script(type="text/javascript" src="/eventHandle.js")