doctype html
html(lang='en')

html
    head
        title Look Inna Book - Home
        include ./faviconPartial.pug
        
body
    include ./partial.pug
    div
        br
        h1 Look Inna Book
        div#list
            h2 List of Books:
            div
                each book in books
                    ul
                    <p> ISBN: #{book.isbn} "#{book.name}" by #{book.authors} | Genres: #{book.genres} | Pages ##{book.page_num} | $#{book.price} In Stock: #{book.stockquantity} <a href="/addCart/#{book.isbn}"> Add to Cart </a></p>
                br

